.project-container {
    width: 20%;
    border: 0.5px lightgray solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-bg);
    box-shadow: 0 0 3px 0px var(--color-shadow);
}

.card-header {
    height: fit-content;
}

.card-img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card {
    padding: 4%;
}

.title {
    font-size: 1rem;
    margin: 0;
    color: var(--color-title);
}

.description {
    font-size: 0.75rem;
    margin: 0;
}

.card-footer {
    display: flex;
    justify-content: end;
}