---
import projects from '../../data/projects.json'
import { ProjectCard } from '../../components/projects/ProjectCard'
import './Projects.css';
---

<section>
  <h1 class="section-title">My work</h1>
  <div class="projects-section">
	  {projects.map(p => (
      <ProjectCard {...p} client:visible />
    ))}
  </div>
</section>