---
import Contact from '../sections/contact/Contact.astro';
import Presentation from '../sections/presentation/Presentation.astro';
import Projects from '../sections/projects/Projects.astro';
import Stack from '../sections/stack/Stack.astro';
---
<main>
<Presentation />
<Projects />
<Stack />
<Contact />
</main>