---
import About from '../sections/about/About.astro';
import Contact from '../sections/contact/Contact.astro';
import Presentation from '../sections/presentation/Presentation.astro';
import Projects from '../sections/projects/Projects.astro';
import Stack from '../sections/stack/Stack.astro';
import { FloatingNav } from '../components/navigator/FloatingNav.jsx';
---
<main>
    <FloatingNav client:load />
    <Presentation />
    <Projects />
    <About />
    <Stack />
    <Contact />
</main>