<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/src/styles/global.css">
		<meta name="generator" content={Astro.generator} />
		<script src="https://code.iconify.design/iconify-icon/1.0.8/iconify-icon.min.js"></script>
		<title>Mi Portfolio</title>
	</head>
	<body>
		<slot />
	</body>
</html>